<h2> <%= @task.title %> </h2> <br>
<p> <%= @task.content%> </p>
<p> <%= @task.status %> </p>


<%= link_to 'Edit', edit_task_path(@task) %>
<%= link_to 'Delete',task_path(action: :delete,id: @task.id),method: :delete, data: {confirm: "Are you sure?"} %>
<%= link_to 'Back', department_path(@department) %>
