<div class="task-show-main-container">
  <div class="task-show-container">
    <div class="inner-task-show-container">

        <div class="task-show-title">
          <h2> <%= @task.title.capitalize %> </h2> <br>
        </div>

        <div class="task-show-task-type">
          <div class="task-show-label">
            <p> Due date </p>
          </div>
          <div class="task-show-value">
            <p> 10 December 2021 </p>
          </div>
        </div>

        <div class="task-show-task-type">
          <div class="task-show-label">
            <p> Status </p>
          </div>
          <div class="task-show-value">
            <% if @task.status == "to-do"%>
              <p> <%= @task.status %> 🟢 </p>
            <% elsif @task.status == "in-progress"%>
              <p> <%= @task.status %> 🟠 </p>
            <% else @task.status == "done"%>
              <p> <%= @task.status %> 🔴 </p>
            <%end%>
          </div>
        </div>

        <div class="task-show-task-type">
          <div class="task-show-label">
            <p> Assignee </p>
          </div>
          <div class="task-show-value">
            <p> Zoe Bell </p>
          </div>
        </div>

        <div class="task-show-task-type">
          <div class="task-show-label">
            <p> Description </p>
          </div>
          <div class="task-show-value content-box">
          </div>
        </div>
        <div class = "description-box">
          <div class="task-show-value content-box">
            <% if @task.content == "" %>
              <p><em> Add a description </em> </p>
            <% else %>
              <%= @task.content %>
              <%end%>
            </p>
          </div>
        </div>

        <div class="task-show-task-type">
          <div class="add-submission-btn">
            <p> + Add submission </p>
          </div>
        </div>

        </div>
      </div>



      <%= link_to 'Edit', edit_task_path(@task) %>
      <%= link_to 'Delete',task_path(action: :delete,id: @task.id),method: :delete, data: {confirm: "Are you sure?"} %>
      <%= link_to 'Back', department_path(@department) %>
    </div>
  </div>
</div>
