
<div class="profile-page-container">
  <div class="row">
    <div class="sidebar col-2">
      <div class="sidebar-inner">
          <div class="sidebar-films-title">
            <div>
              <h1>Films</h1>
            </div>
          </div>
        <div class="films-side-bar">
          </div>
            <% @films.reverse.each do |film| %>
              <div class="each-film-on-profile-show">
                <%=link_to film.title, film_path(film)%>
              </div>
            <% end %>
            <div class="add-dpt-btn">
              <%= link_to "+ Add film", new_film_path %>
            </div>
            <div class="sidebar-back-btn">
              <%= link_to 'Back', films_path %>
            </div>
          </div>
        <div>
      </div>
    </div>

    <div class="profile-page-main col-10">
      <h1> Welcome, <%= @user.first_name.capitalize %>!</h1>

      <div class="recent-films-box">
        <p>Open recent</p>
        <div class="profile-movie-cards">
          <% if @films.length > 0 %>
          <% @recentfilms.reverse.each do |film|%>
              <div class="profile-movie-card">
              <p><%= link_to film.title, film_path(film)%></p>
              </div>
            <% end %>
          <% end %>
            <div class="new-profile-movie-card">
              <p><%= link_to "+", new_film_path%></p>
            </div>
        </div>
      </div>

      <div class="profile-page-notifications-box">
        <p>Notifications</p>
        <div class="notification-card">
          <div>
          <%= image_tag "profile-pic1.jpg", class: "avatar" %>
          </div>
          <div>
            <p> Notification</p>
          </div>
        </div>
        <div class="notification-card">
          <div>
            <%= image_tag "profile-pic2.jpg", class: "avatar" %>
          </div>
          <div>
            <p> Notification</p>
          </div>
        </div>
        <div class="notification-card">
          <div>
            <%= image_tag "profile-pic3.jpg", class: "avatar" %>
          </div>
          <div>
            <p> Notification</p>
          </div>
        </div>

      </div>
    </div>
  </div>


    <%# <div class="col-3 border">
      <div>
        <h3>My profile</h3>
        <%= image_tag "StanK.jpg", class: "profile-pic"%>
      <%# </div>
    </div> %>
  <%# </div> %>
</div>


<%# embedded form in new film linking the create action of grant into in to link the current user, the film being created and the top rank level %>
