<div class="container">
  <div class="row">
    <div class="col-2 border">
      <div>
        <h3>My Projects</h3>
      </div>
      <div>
        <ul>
          <% @user.films.each do |film| %>
            <li> <%= link_to film.title, film_path(film) %> </li>
          <% end %>
        </ul>
      </div>
      <div>
        <h5><%= link_to '+ Create new project', new_film_path  %></h5>
      </div>
    </div>


    <div class="col-7 border">
      <h1> hello <%= @user.email %></h1>

      <div>
        <h5>Open recent</h5>
        <div>
          <%# <%= link_to @films.last.title, film_path(@films.last)  %> %>
        </div>
      </div>
    </div>


    <div class="col-3 border">
      <div>
        <h3>My profile</h3>
        <%= image_tag "StanK.jpg", class: "profile-pic"%>
      </div>

    </div>
  </div>
</div>


<%# embedded form in new film linking the create action of grant into in to link the current user, the film being created and the top rank level %>
