
<div class="profile-page-container">
  <div class="row">
    <div class="sidebar col-2">
      <p>text</p>
      <%# <div>
        <h3>My Projects</h3>
      </div>
      <div>
        <ul>
          <% @user.films.each do |film| %>
            <%# <li> <%= link_to film.title, film_path(film) %> </li>
          <%# <% end %>
        <%# </ul>
      </div>
      <div>
        <h5><%= link_to '+ Create new project', new_film_path  %></h5>
    </div>

    <div class="profile-page-main col-10">
      <h1> Welcome, <%= @user.first_name.capitalize %>!</h1>

      <div class="recent-films-box">
        <p>Open recent</p>
        <div class="profile-movie-cards">
          <% if @films.length > 0 %>
          <% @films.each do |film|%>
              <div class="profile-movie-card">
              <p><%= link_to film.title, film_path(film)%></p>
              </div>
            <% end %>
          <% end %>
            <div class="profile-movie-card">
              <p><%= link_to "+", new_film_path%></p>
            </div>
        </div>
      </div>

      <div class="profile-page-notifications-box">
        <p>Notifications</p>
        <div class="notification-cards">
          <% @tasks.each do |task| %>
            <div class="notification-card">
              <div>
              <%= image_tag "profile-pic1.jpg", class: "avatar" %>
              </div>
              <div>
                <div class="notification-message">
                <p><%= task.user.first_name%> just marked the task "<%= task.title %>" in <em><%= task.department.name %></em> as <em><%= task.status %></em></p>
                </div>
                <div class="notification-message-time">
                <p><%=  task.updated_at.strftime("%A, %d %b %Y %l:%M %p")%></p>
                </div>
              </div>
            </div>
            <% end %>
        </div>
      </div>
    </div>
  </div>


    <%# <div class="col-3 border">
      <div>
        <h3>My profile</h3>
        <%= image_tag "StanK.jpg", class: "profile-pic"%>
      <%# </div>
    </div> %>
  <%# </div> %>
</div>


<%# embedded form in new film linking the create action of grant into in to link the current user, the film being created and the top rank level %>
