
<div class="profile-page-container">
  <div class="row">
    <div class = "sidebar col-2 pl-3 pr-0 border-right border-secondary">
       <div class="sidebar-inner">
        <div class="sidebar-film-title">
          <div>
            <h1> Films </h1>
          </div>
        </div>

        <div class="departments-side-bar">
          <% @films.reverse.each do |film| %>
            <div class="each-department-on-film-show">
                <%=link_to film.title, film_path(film)%>
            </div>
          <% end %>
          <div class="add-dpt-btn">
            <%= link_to "+ New Project", new_film_path %>
          </div>
        </div>

        <div>
          <div class="sidebar-back-btn">
            <%= link_to 'Back', films_path %>
          </div>
        </div>
      </div>
    </div>

    <div class="profile-page-main col-10">
      <h1> Welcome, <%= @user.first_name.capitalize %>!</h1>

      <div class="recent-films-box">
        <p>Open recent</p>
        <div class="profile-movie-cards">
          <% if @films.length > 0 %>
            <% @recentfilms.reverse.each do |film|%>
              <%= link_to film_path(film), class: "to-each-film" do %>
                <% if film.photo.present? %>
                  <div class="profile-movie-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path film.photo.key, crop: :fill %>')">
                    <div class="film-title-background">
                      <p><%= film.title %></p>
                    </div>
                  </div>
                <% else %>
                  <div class="profile-movie-card">
                    <div class="film-title-background">
                      <p><%= film.title %></p>
                    </div>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
          <%= link_to new_film_path, class: "to-new-film" do %>
            <div class="profile-new-movie-card">
              <div class="new-film-title-background">
              </div>
              <div class="plus-background">
                <div>
                  <p>+</p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="reflection-box">
        <div class="reflection">
        </div>
      </div>

      <div class="profile-page-notifications-box">
        <p style="font-size: 20px;">Notifications</p>
        <div class="notification-cards">
        <% if @films.length > 0 %>
          <% @recent_tasks.reverse.each do |task| %>
            <%= link_to department_path(task.department), class: "to-each-task" do %>
            <div class="notification-card">
              <div>
                <% if task.user.photo.attached?%>
                  <%= cl_image_tag task.user.photo.key, class: "avatar" %>
                <% else %>
                  <%= image_tag "stock-profile.jpg", class: "avatar" %>
                <% end  %>
              </div>
              <div>
                <div class="notification-film">
                <p> <%= task.department.film.title %> </p>
                </div>
                <div class="d-flex notification-message">
                  <p><%= task.user.first_name.capitalize %> just marked the task "<%= task.title %>" in <strong><%= task.department.name.capitalize %></strong> as:</p>
                  <% if task.status == "to-do" %>
                    <p><b style="color: rgba(180, 46, 46, 0.9);"><%= task.status.capitalize %></b></p>
                  <% elsif task.status == "in-progress" %>
                    <p ><b style="color: rgba(184, 114, 48, 0.9);"><%= task.status.capitalize %></b></p>
                  <% else %>
                    <p ><b style="color: rgba(62, 180, 72, 0.9);"><%= task.status.capitalize %></b></p>
                  <% end %>
                  <%# <p><%= @task.films.first.title %></p>
                </div>
                <div class="notification-message-time">
                  <p><%=  task.updated_at.strftime("%A, %d %b %Y %l:%M %p")%></p>
                </div>
              </div>
            </div>
            <% end %>
          <% end %>
        <% end %>
        </div>
      </div>
    </div>
  </div>


    <%# <div class="col-3 border">
      <div>
        <h3>My profile</h3>
        <%= image_tag "StanK.jpg", class: "profile-pic"%>
      <%# </div>
    </div> %>
  <%# </div> %>
</div>


<%# embedded form in new film linking the create action of grant into in to link the current user, the film being created and the top rank level %>
