<div class="department-showpage-container">
  <div class="row">
    <div class = "sidebar col-2">
      <p> text </p>
    </div>

    <div class="department-showpage-main-container col-10">
      <h1><%= @department.name.capitalize  %> Department </h1>

      <h3> Track your progress </h3>

      <div class="department-showpage-timeline-container">
        <h4> project timeline... </h4>
        <div class = "department-showpage-timeline">
        </div>
      </div>
        <br>
        <h4> project tasks... </h4>

      <div data-controller="drag" data-drag-url="/tasks/:id/move" class="department-showpage-all-tasks-container">

        <div class="department-showpage-task-types to-do">
          <p> To-do 🔴 </p>
            <div class="department-showpage-tasks">

              <div class="single-task" id="to-do-new">
                <%= link_to " + new task", new_department_task_path(@department) %>
              </div>

              <div data-drag-target="tasks" data-status="to-do">
                <% @tasks.order(position: :asc).each do |task| %>
                  <% if task.status == "to-do"  %>
                      <div data-id="<%= task.id %>" class="single-task">
                        <%= link_to task.title, task_path(task) %>
                      </div>
                    <% end %>
                <% end %>
              </div>

          </div>
        </div>

        <div class="department-showpage-task-types in-progress">
          <p> In-progress 🟠 </p>
            <div data-drag-target="tasks" data-status="in-progress" class="department-showpage-tasks" id="itemlist">
              <% @tasks.each do |task| %>
                <% if task.status == "in-progress"  %>
                    <div data-id="<%= task.id %>" class="single-task">
                      <%= link_to task.title, task_path(task) %>
                    </div>
                  <% end %>

              <% end %>
            </div>
        </div>

        <div class="department-showpage-task-types done">
          <p> Done 🟢 </p>
          <div data-drag-target="tasks" data-status="done" class="department-showpage-tasks">
            <% @tasks.each do |task| %>
              <% if task.status == "done"  %>
                  <div data-id="<%= task.id %>" class="single-task">
                    <%= link_to task.title, task_path(task) %>
                  </div>
              <% end %>
            <% end %>
          </div>
        </div>

      </div>

      <br>

      <%= link_to 'Edit', edit_department_path(@department) %>
      <br>
      <%= link_to "Delete", department_path(@department), method: :delete %>
      <br>
      <%= link_to 'Back', film_path(@film) %>

    </div>
  </div>
</div>
