<%= javascript_pack_tag 'timeline', 'data-turbolinks-track': 'reload', defer: true %>

<!-- app/views/offers/show.html.erb -->
<% content_for :meta_title, "Filmpod - #{@department.name}" %>

<div class="department-showpage-container">
  <div class="department-showpage-inner-container">


    <div class = "sidebar col-2">
       <div class="sidebar-inner-n">

        <div class="sidebar-film-title">
          <div>
             <%=link_to @film.title, film_path(@film) %>
          </div>
        </div>
        <div class="departments-side-bar">
          <% @departments.each do |department| %>
            <div class="each-department-on-film-show">
                <%=link_to department.name, department_path(department)%>
            </div>
          <% end %>
          <div class="add-dpt-btn">
            <%= link_to "+ Add Department", new_film_department_path(@film) %>
          </div>
          <div class="add-dpt-btn">
            <%= link_to "+ Add Member", film_grants_path(@film) %>
          </div>
        </div>
        <div>
          <div class="sidebar-back-btn">
            <%= link_to 'Back', user_path %>
          </div>
          <div class="sidebar-edit-btn">
            <%= link_to 'Edit Film', edit_film_path(@film) %>
          </div>
          <div class="sidebar-danger-btn">
            <%= link_to "Delete Film", film_path(@film), method: :delete %>
          </div>
        </div>
      </div>
    </div>

    <% dptphoto = "#{@department.name}.jpg" %>

    <div class="department-showpage-main-container col-10" >
      <div class="department-background-image" style= "background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,1)), url('<%= asset_path dptphoto  %>');">
        <div class="department-padding">
          <div class="department-show-tabs">
            <div class="tab-item tab-item-left">
              <%= link_to "Tasks", department_path(@department) %>
            </div>
          <div class="tab-item tab-moodboard">
            <%= link_to "Moodboard", moodboard_department_path(@department) %>
          </div>
        </div>
        <div class="modal-container">
          <div class="modal-container-task-new-card" id="modal-container">
            <div class="close-modal">
              <p>X</p>
            </div>
            <h3> New Task </h3>
            <%= simple_form_for([@department, @new_task]) do |f| %>
              <%= f.input :title, placeholder: 'Task Title' %>
              <%= f.input :content, placeholder: 'Add a description of the task' %>
              <label for="Due-date">Due Date:</label>
              <input type="date" id="due" name="trip-start"
                     value="2021-12-03"
                     min="2021-12-03" max="2025-12-31">
              <%# <%= f.input :due_date %>
              <%= f.input :status, :collection => %w[to-do in-progress done] %>
              <%= f.submit value: "Add Task", class: "new-film-btn" %>
            <% end %>
          </div>
        </div>
        <div class = "department-showpage-header">
          <div class = "department-showpage-header-title">
            <h1><%= @department.name.capitalize  %> Department </h1>
          </div>
          <div class="link-container">
            <div class="edit-link-button">
              <%= link_to 'Edit', edit_department_path(@department)%>
            </div>
            <div class="delete-link-button">
              <%= link_to 'Delete',department_path(action: :delete,id: @department.id),method: :delete, data: {confirm: "Are you sure?"} %>
            </div>
          </div>
        </div>
        <%# <h3> Track your progress  </h3> %>
        <div class="department-showpage-timeline-container">

          <h4> Project timeline  </h4>
          <div class = "department-showpage-timeline">
            <div class="timeline-photo">
              <%= image_tag "timeline1.png", class:"timeline-png" %>
              <div class="timeline-tasks">
                <% @tasks.each do |task| %>
                  <div class="task-on-timeline">
                    <% if task.status == "to-do" %>
                      <div class="timeline-task-point red-point" data-task-id= "<%= task.id %>"></div>
                      <div class="task-title-timeline"><%= task.title %></div>
                    <% elsif task.status == "in-progress orange-point" %>
                      <div class="timeline-task-point" data-task-id= "<%= task.id %>"></div>
                      <div class="task-title-timeline"><%= task.title %></div>
                    <% else %>
                      <div class="timeline-task-point green-point" data-task-id= "<%= task.id %>"></div>
                      <div class="task-title-timeline"><%= task.title %></div>
                    <% end %>
                  </div>
                <% end %>
                </div>

              </div>
            </div>
          </div>
        </div>
        <br>

      </div>
      <div class="department-second-background">
        <h4> Tasks ⚡️ </h4>
        <div data-controller="drag" data-drag-url="/tasks/:id/move" class="department-showpage-all-tasks-container">
          <div class="department-showpage-task-types to-do">
            <p> To-do 🔴 </p>
            <div class="department-showpage-tasks">
              <div class="single-task" id="to-do-new" data-id="0">
                <button id="new-task-btn"> + new task </button>
              </div>
              <div data-drag-target="tasks" data-status="to-do">
                <% @tasks.order(position: :asc).each do |task| %>
                  <% if task.status == "to-do"  %>
                    <div data-id="<%= task.id %>" class="single-task">
                      <button class="task-title-select"><%= task.title %></button>
                      <%= render "tasks/show", task: task %>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
          <div class="department-showpage-task-types in-progress">
          <p> In-progress 🟠 </p>
            <div data-drag-target="tasks" data-status="in-progress" class="department-showpage-tasks" id="itemlist">
              <% @tasks.each do |task| %>
                <% if task.status == "in-progress"  %>
                  <div data-id="<%= task.id %>" class="single-task">
                    <button class="task-title-select"><%= task.title %></button>
                      <%= render "tasks/show", task: task %>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
          <div class="department-showpage-task-types done">
          <p> Done 🟢 </p>
            <div data-drag-target="tasks" data-status="done" class="department-showpage-tasks">
              <% @tasks.each do |task| %>
                <% if task.status == "done"  %>
                  <div data-id="<%= task.id %>" class="single-task">
                    <button class="task-title-select"><%= task.title %></button>
                    <%= render "tasks/show", task: task %>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
        <br>
      </div>
    </div>
  </div>
</div>
