<div class="department-showpage-container">
  <div class="department-showpage-inner-container">

    <div class = "sidebar">
       <div class="sidebar-inner">
        <div class="sidebar-film-title">
          <div>
            <h1><%= @film.title %></h1>
          </div>
        </div>

        <div class="departments-side-bar">
          <% @departments.each do |department| %>
          <div class="each-department-on-film-show">
              <%=link_to department.name, department_path(department)%>
          </div>
          <% end %>
          <div class="add-dpt-btn">
            <%= link_to "+ Add department", new_film_department_path(@film) %>
          </div>
          <div class="add-dpt-btn">
            <%= link_to "+ Add Grants", film_grants_path(@film) %>
          </div>
        </div>

        <div>
          <div class="sidebar-back-btn">
            <%= link_to 'Back', user_path %>
          </div>
          <div class="sidebar-edit-btn">
            <%= link_to 'Edit Film', edit_film_path(@film) %>
          </div>
          <div class="sidebar-danger-btn">
            <%= link_to "Delete Film", film_path(@film), method: :delete %>
          </div>
        </div>
      </div>
    </div>


    <div class="department-showpage-main-container col-10">
      <h1><%= @department.name.capitalize  %> Department </h1>

      <h3> Track your progress </h3>

      <div class="department-showpage-timeline-container">
        <h4> project timeline... </h4>
        <div class = "department-showpage-timeline">
        </div>
      </div>
        <br>
        <h4> project tasks... </h4>

      <div data-controller="drag" data-drag-url="/tasks/:id/move" class="department-showpage-all-tasks-container">

        <div class="department-showpage-task-types to-do">
          <p> To-do 🔴 </p>
            <div class="department-showpage-tasks">

              <div class="single-task" id="to-do-new">
                <%= link_to " + new task", new_department_task_path(@department) %>
              </div>

              <div data-drag-target="tasks" data-status="to-do">
                <% @tasks.order(position: :asc).each do |task| %>
                  <% if task.status == "to-do"  %>
                      <div data-id="<%= task.id %>" class="single-task">
                        <%= link_to task.title, task_path(task) %>
                      </div>
                    <% end %>
                <% end %>
              </div>

          </div>
        </div>

        <div class="department-showpage-task-types in-progress">
          <p> In-progress 🟠 </p>
            <div data-drag-target="tasks" data-status="in-progress" class="department-showpage-tasks" id="itemlist">
              <% @tasks.each do |task| %>
                <% if task.status == "in-progress"  %>
                    <div data-id="<%= task.id %>" class="single-task">
                      <%= link_to task.title, task_path(task) %>
                    </div>
                  <% end %>

              <% end %>
            </div>
        </div>

        <div class="department-showpage-task-types done">
          <p> Done 🟢 </p>
          <div data-drag-target="tasks" data-status="done" class="department-showpage-tasks">
            <% @tasks.each do |task| %>
              <% if task.status == "done"  %>
                  <div data-id="<%= task.id %>" class="single-task">
                    <%= link_to task.title, task_path(task) %>
                  </div>
              <% end %>
            <% end %>
          </div>
        </div>

      </div>

      <br>

      <%= link_to 'Edit', edit_department_path(@department) %>
      <br>
      <%= link_to 'Delete',department_path(action: :delete,id: @department.id),method: :delete, data: {confirm: "Are you sure?"} %>
      <br>
      <%= link_to 'Back', film_path(@film) %>

    </div>
  </div>
</div>
