<h3> Edit your submission </h3>

<%= simple_form_for(@submission) do |f| %>
  <%= f.input :title %>
  <%= f.input :content%>
  <%= f.input :photo, as: :file %>
  <%= f.input :status, :collection => %w[approved] %>
  <%= f.submit %>
<% end %>
