<div class="submission-show-main-container">
  <div class="submission-show-container">
    <div class="submission-show-inner-container">
        <div class ="submission-show-title sub">
          <small> Submission for the task: <strong> "<%= @submission.task.title %>" </small> </strong>
          <div class= "submission-show-back">
            <%= link_to 'Back to task', task_path(@task), class: "submission-show-title sub " %>
          </div>
        </div>
        <div class="submission-show-title">
          <div class ="submission-show-title sub">
            <h2> <%= @submission.title.capitalize %> </h2>
          </div>
          <div class ="submission-show-title sub">
            <div class = "submission-show-edit">
              <%= link_to 'Edit', edit_submission_path(@submission) %>
            </div>
            <div class = "submission-show-delete">
              <%= link_to 'Delete',submission_path(action: :delete,id: @submission.id),method: :delete, data: {confirm: "Are you sure?"} %>
            </div>
          </div>
        </div>

        <div class="submission-show-submission-type">
          <div class="submission-show-label">
            <p> 📅 Submission date </p>
          </div>
          <div class="submission-show-value">
            <p> <%= @submission.created_at.strftime("%b %d, %Y") %> </p>
          </div>
        </div>

        <div class="submission-show-submission-type">
          <div class="submission-show-label">
            <p> 🤔 Status </p>
          </div>
          <div class="submission-show-value">
            <% if @submission.status == "submitted" %>
                <p> <%= @submission.status.capitalize  %>  🟠 </p>
            <% else @submission.status == "approved" %>
                <p> <%= @submission.status.capitalize  %>  🟢 </p>
            <%end%>
          </div>
        </div>

        <div class="submission-show-submission-type">
          <div class="submission-show-label">
            <p> 👤 Submitted by  </p>
          </div>
          <div class="submission-show-value">
            <p> <%= @submission.user.first_name.capitalize %> <%= @submission.user.last_name.capitalize %> </p>
          </div>
        </div>

        <div class="submission-show-submission-type">
          <div class="submission-show-label">
            <p> 🖇 Description </p>
          </div>
          <div class="submission-show-value content-box">
          </div>
        </div>
        <div class = "description-box">
          <div class="submission-show-value content-box">
            <% if @submission.content == "" %>
              <p><em> Add a description </em> </p>
            <% else %>
              <%= @submission.content %>
              <%end%>
            </p>
          </div>
        </div>


        <div class= "comments-section-main-container">
          <div class = "comments-section-inner-container"
            data-controller="submission-subscription"
            data-submission-subscription-submission-id-value="<%= @submission.id
            %>" >
            <% @submission.comments.each do |comment| %>
            <div class = "single-comment">
              <%= render "comments/comment", comment: comment %>
            </div>
            <% end %>
          </div>

          <div class = "new-comment">

            <div>
              <% if current_user.photo.present? %>
                <%= cl_image_tag current_user.photo.key, class: "avatar-comment"%>
              <% else %>
              <%= image_tag "stock-profile.jpg", class: "avatar-comment" %>
             <% end %>
            </div>

            <div class ="new-comment content">
              <%= simple_form_for [@submission, @comment], remote: true do |f| %>
                <%= f.input :content, label: false, placeholder: "Add a comment for ##{@submission.title}" %>
                <%= f.submit class: "comment-btn", value: "Comment" %>
              <% end %>
            </div>
          </div>

        </div>

   </div>
  </div>
</div>
