<div class="submission-show-main-container">
  <div class="submission-show-container">
    <div class = "sidebar col-2">
       <div class="sidebar-inner">

        <div class="sidebar-film-title">
          <div>
            <h1> <%=link_to @film.title, film_path(@film), class:"back-to-film-btn"%> </h1>
          </div>
        </div>
        <div class="departments-side-bar">
          <% @departments.each do |department| %>
            <div class="each-department-on-film-show">
                <%=link_to department.name, department_path(department)%>
            </div>
          <% end %>
          <div class="add-dpt-btn">
            <%= link_to "+ Add department", new_film_department_path(@film) %>
          </div>
          <div class="add-dpt-btn">
            <%= link_to "+ Add Grants", film_grants_path(@film) %>
          </div>
        </div>
        <div>
          <div class="sidebar-back-btn">
            <%= link_to 'Back', user_path %>
          </div>
          <div class="sidebar-edit-btn">
            <%= link_to 'Edit Film', edit_film_path(@film) %>
          </div>
          <div class="sidebar-danger-btn">
            <%= link_to "Delete Film", film_path(@film), method: :delete %>
          </div>
        </div>
      </div>
    </div>

    <div class="submission-show-inner-container col-10">
        <div class ="submission-show-title sub">
          <p> Submission for the task: <strong> "<%= @submission.task.title %>" </p> </strong>
          <div class= "submission-show-back">
          <%= link_to 'back to task', :back %>
            <%# <%= link_to 'Back to task', task_path(@task), class: "submission-show-title sub " %>
          </div>
        </div>
        <div class="submission-show-title">
          <div class ="submission-show-title sub">
            <h2> <%= @submission.title.capitalize %> </h2>
          </div>
          <div class ="submission-show-title sub">
            <div class = "submission-show-edit">
              <%= link_to 'Edit', edit_submission_path(@submission) %>
            </div>
            <div class = "submission-show-delete">
              <%= link_to 'Delete',submission_path(action: :delete,id: @submission.id),method: :delete, data: {confirm: "Are you sure?"} %>
            </div>
          </div>
        </div>

        <div class = "submission-show-all-details">
          <div class = "submission-show-details-1">
            <div class="submission-show-submission-type">
              <div class="submission-show-label">
                <p> 📅 Submission date </p>
              </div>
              <div class="submission-show-value">
                <p> <%= @submission.created_at.strftime("%b %d, %Y") %> </p>
              </div>
            </div>

            <div class="submission-show-submission-type">
              <div class="submission-show-label">
                <p> 🤔 Status </p>
              </div>
              <div class="submission-show-value">
                <% if @submission.status == "submitted" %>
                    <p> <%= @submission.status.capitalize  %>  🟠 </p>
                <% else @submission.status == "approved" %>
                    <p> <%= @submission.status.capitalize  %>  🟢 </p>
                <%end%>
              </div>
            </div>

            <div class="submission-show-submission-type">
              <div class="submission-show-label">
                <p> 👤 Submitted by  </p>
              </div>
              <div class="submission-show-value">
                <p> <%= @submission.user.first_name.capitalize %> <%= @submission.user.last_name.capitalize %> </p>
              </div>
            </div>

            <div class="submission-show-submission-type">
              <div class="submission-show-label">
                <p> 🖇 Description </p>
              </div>
              <div class="submission-show-value content-box">
              </div>
            </div>
            <div class = "description-box">
              <div class="submission-show-value content-box">
                <% if @submission.content == "" %>
                  <p><em> Add a description </em> </p>
                <% else %>
                  <%= @submission.content %>
                  <%end%>
                </p>
              </div>
            </div>
          </div>
          <div class = "submission-show-details-2">
            <% if @submission.photo.present? %>
              <%= cl_image_tag @submission.photo.key, class: "submission-show-picture"%>
            <% else %>
              <p> <em> no image was submitted </em> <p>
             <% end %>
          </div>
        </div>


        <div class= "comments-section-main-container">
          <div class = "comments-section-inner-container"
            data-controller="submission-subscription"
            data-submission-subscription-submission-id-value="<%= @submission.id
            %>" >
            <% @submission.comments.each do |comment| %>
            <div class = "single-comment">
              <%= render "comments/comment", comment: comment %>
            </div>
            <% end %>
          </div>

          <div class = "new-comment">

            <div>
              <% if current_user.photo.present? %>
                <%= cl_image_tag current_user.photo.key, class: "avatar-comment"%>
              <% else %>
              <%= image_tag "stock-profile.jpg", class: "avatar-comment" %>
             <% end %>
            </div>

            <div class ="new-comment content">
              <%= simple_form_for [@submission, @comment], remote: true do |f| %>
                <%= f.input :content, label: false, placeholder: "Add a comment for ##{@submission.title}" %>
                <%= f.submit class: "comment-btn", value: "Comment" %>
              <% end %>
            </div>
          </div>

        </div>

   </div>
  </div>
</div>
