<div class="new-container">
  <div class="new-inner-container">
    <div>
      <h2>Create a New Project</h2>
      <%= simple_form_for(@film) do |f| %>
          <%= f.input :title, class: "new-input"%>
          <%= f.input :synopsis, class: "new-input" %>
          <%= f.input :genre, class: "new-input" %>
          <%= f.input :estimated_release_date, class: "new-input" %>
          <%= f.input :photo, as: :file %>
          <div class="btndiv">
            <%= f.submit class: "new-film-btn" %>
          </div>
        <% end %>
    </div>
  </div>
</div>
