<div>
  <h1><%= @film.title %></h1>
</div>
<div>
  <%= @film.genre %>
</div>

<div>
  <%= @film.synopsis %>
</div>

<div>
  <%= @film.estimated_release_date %>
</div>

<div>
  <% @departments.each do |department| %>
    <%= department.name %>
  <% end %>
</div>

<%= link_to 'Edit', edit_film_path(@film) %>
<%= link_to "Delete", film_path(@film), method: :delete %>
<%= link_to 'Back', films_path %>
