<div class="grants-container">
  <div class="grants-index">
    <%# <div class="grants-index-mid"> %>
      <div class="grants-index-inner">

        <% if @grants %>
          <h3>Team members:</h3>
          <% @grants.each do |grant| %>

            <%# <%= grant.user.users_dept(@film.id).first&.name</p> %>


            <div class="grants-each-member">

              <% if grant.user.photo.attached?%>
                  <%= cl_image_tag task.user.photo.key, class: "avatar" %>
                <% else %>
                  <%= image_tag "stock-profile.jpg", class: "avatar" %>
                <% end  %>
              <p>
                <%= grant.user.full_name%> - <%= grant.rank_level%> - <%= grant.user.user_skills%> - <%=  grant.department&.name %>
              </p>
            </div>

          <% end %>
        <% else %>
          <p>No members yet</p>
        <% end %>


      </div>

      <%# </div> %>

    <%# </div> %>
  </div>

  <div class="grants-new">
    <div class="grants-new-inner">
        <h2> Add members to your team:</h2>
        <%# <% @userdepartment = @grant.user.users_dept(@film.id).first&.name %>
        <%= simple_form_for [ @film, @grant ] do |f| %>
          <div class ="grant-form">
            <div class="form-inputs">
              <%# <%= f.association :user, label_method: :full_name, value_method: :id, input_html: { class: 'select2' } %>
              <%# <%= f.input :user, id: "usersearch"%>
                <%# <ul id="userresults"> %>
                <%# </ul> %>
              <%= f.association :user, collection: User.all, label_method: :full_name, input_html: { data: { controller: 'select2' }} %>
              <%= f.input :department, collection: Department::DPTNAMES %>
              <%= f.input :rank_level, collection: Grant::RANKS%>
            </div>
            <div class="form-actions">
                <%= f.button :submit, "Submit user",  class: "new-film-btn new-grant-btn" %>
            </div>
          </div>
        <% end %>
      <div class="grants-links">
        <p><%= link_to 'Film homepage', film_path(@film),  class: "to-film-btn" %></p>
      </div>
    </div>
  </div>

</div>
